/* pangolin-regular - latin */
@font-face {
    font-family: 'Pangolin';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Pangolin Regular'), local('Pangolin-Regular'),
        url('../assets/fonts/pangolin-v6-latin-regular.woff2') format('woff2'),
        url('../assets/fonts/pangolin-v6-latin-regular.woff') format('woff'),
        url('../assets/fonts/pangolin-v6-latin-regular.ttf') format('truetype'),
        url('../assets/fonts/pangolin-v6-latin-regular.svg#Pangolin') format('svg');
}

html {
    font-size: 0.625em; /* fallback IE8+ */
    font-size: calc(1em * 0.625); /* IE9-IE11 math fixing. See http://bit.ly/1g4X0bX */
}

/* Box sizing rules */
html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd,
canvas {
    margin: 0;
    padding: 0;
}

/* Set core body defaults */
body {
    max-height: 100vh;
    font-size: 1.6em;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    overflow: hidden;
}

h1 {
    height: 7rem;
    margin: 0;
    padding: 1rem 0;
    width: 100%;
    text-align: center;
    color: #beb893;
    background-color: rgb(151, 67, 18);
}

.fontLoader {
    margin: 0;
    padding: 0;
    max-width: 0;
    max-height: 0;
    overflow: hidden;
    font-family: 'Pangolin';
    font-size: 1px;
}

#gameContainer {
    height: calc(100vh - 7rem);
    width: 100%;
    padding: 0;
}
